@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('/HomeBackGround.webp');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: rgb(207, 207, 207); 
    box-sizing: border-box;
}

.link {
    color: inherit;
    text-decoration: none;
    color: #eb628b;
}

.link:hover {
    transition: .2s linear;
    color: #ffaec6;
    text-decoration: underline;
}

.form h2 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form .input {
    margin-top: 30px;
    text-align: left;
}

.form .input {
    margin-top: 10px;
}

.form .input .inputBox label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.form .input .inputBox input {
    position: relative;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 15px;
    background:linear-gradient(315deg,#e91e63,#5d02ff);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.form .input .inputBox input[type="submit"] {
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
}

.form .input .inputBox input[type="submit"]:hover {
    background:linear-gradient(315deg,#5d02ff,#e91e63) ;
}

.form .input .inputBox input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.521);
    background:linear-gradient(315deg,#e91e6271,#5f02ff8c) ;
}

.statusMessage label {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.selectBox {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.selectBox label {
    hyphens: auto;
} 

.selectBox input{
    height: 20px;
    width: 20px;
}

button:active {
    color: rgb(212, 212, 212);
    background: #f44bfac0;
}

button:hover, button:focus {
    background: #f44bfac0;
}

.interactiveImg {
    margin-top: 20px;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.entidadeImg, .patrocinadorImg {
    margin-left: auto;
    margin-left: auto;
    max-width: 200px;
}

.interactiveImg:active, .interactiveImg:hover {
    opacity: 0.75;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}

.entidadeImg {
    max-width:  125px;
    max-height: 125px;
    object-fit: scale-down;
}

.patrocinadorImg {
    max-width:  250px;
    max-height: 250px;
    object-fit: scale-down;
}

.patrocinadores {
    padding: 40px 40px 50px;
}

.contato, .entidades {
    padding: 20px 20px 30px;
}

.contato, .entidades, .patrocinadores {
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    border-radius: 10px;
    font-family: 'VT323';
}

.spaceBorder {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 65%;
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    background: linear-gradient(315deg,#e91e63,#5d02ff);
    padding: 3px;
}

.login {
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    padding: 30px 30px 20px;
    border-radius: 10px;
    text-align: center;
}

html, body, #root, .App {
    height: 100%;
}

.input {
    margin-top: 20px;
    text-align: left;
}

.inputBoxC span {
    display: block;
    color: #fff;
    font-family: "VT323";
    
    letter-spacing: 1px;
}

.form .input .inputBox input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.521);
    background:linear-gradient(315deg,#e91e6271,#5f02ff8c) ;
}

.form .input .inputBox .emailConstant {
    background: gray;
    margin-bottom: 6px;
    color: rgb(61, 61, 61);
}

.termos, .privacidade {
    padding: 20px 20px 30px;
    position: relative;
    background: #060c21;
    border: 1px solid #000;
    border-radius: 10px;
    border-radius: 10px;
    text-align: justify;
}

.termosBorder {
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 800px;
    border-radius: 10px;
    text-align: center;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    background: linear-gradient(315deg,#e91e63,#5d02ff);
    padding: 3px;
}

body, main { 
    height: 100vh; 
    margin:0; 
}

.paragraph {
    margin: 0;
    line-height: 34px;
    text-align: center;
}

.linhaDuvida{
    margin-top: 25px;
    border-top: 1px solid #eb628be1;
}

h5 {
    margin-bottom: 20px;
}

.margin {
    font-size: 22px;
}

.botoes {
    position: absolute;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 100%;
    padding: 45px;
    left: 0;
    text-align: center;             
}

.botaoConta {
    margin-top: 20px;
}

.accordion-header > .collapsed {
    background-color: #731376 !important;
}

.accordion-button {
    background-color: #cf41d4 !important;
}

.accordion-header > .collapsed:hover {
    background-color: #cf41d4 !important;
}

.accordion-item {
    border: 1px solid white !important;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(65, 60, 60, 0.253); 
}

::-webkit-scrollbar-track-piece {
    background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    background: rgb(235, 100, 140); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(186, 81, 113);
}

.page-count {
    text-align: center;
    font-weight: 150;
    font-size: 26px;
    font-family: 'VT323';
    margin: 0;
}

.page-button {
    padding: 5px 35px;
    color: white;
    border-radius: 5px;
    font-family: 'VT323';
    font-size: 22px;
    background-color: #a828ac9b;
    max-width: 50%;
}

.page-button:hover {
    background: #c740cca4;
}

@media (max-width: 660px) {
    .spaceBorder {
        margin-right: auto;
        margin-left: auto;
    }

    .page-button {
        padding: 0;
    }
}

@media (max-width: 850px) {
    .Conta{
        flex-direction: column;
        margin-top: 0;
    }

    .Conta > div {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 45px;
    }
}